<head>
    <style>
        .fblogo {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            height: 200px;
            width: 250px;
            padding: auto;
        }
        
        #images {
            text-align: center;
        }
    </style>
</head>
<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header mb-1">
                    <div class=" typography-line">
                        <h1 style="color:rgb(233, 231, 101) "> Traders Bay</h1>
                    </div>
                </div>
                <div class=" card-body">

                    <h3>
                        Traders Bay is an applicatiion to trade stocks at your desk in no time.
                    </h3>
                    <br>
                    <div class=" typography-line">
                        <div id="images">

                            <img class="fblogo" border="0" alt="Mail" src="assets/img/stock1.svg" />

                            <img style="margin-left:100px;" class="fblogo" border="0" alt="Facebook" src="assets/img/stock2.svg" />
                        </div>
                    </div><br>
                    <div class=" typography-line">

                        <blockquote>
                            <p class=" blockquote blockquote-danger">
                                "We have built our relations on trust, simplicity, and integrity where all are free to express themselves for fruitful collaboration. This helps us in empowering everyone collectively and create innovative solutions. We maintain the same values in developing
                                our products and give our customers a service of the highest order." <br />

                                <br />

                                <small> - TEAM DEBUG ENTITY </small>
                            </p>
                        </blockquote>
                    </div>

                    <div class=" typography-line">

                        <h1 class="text-success">Our Team</h1>
                    </div>
                    <div class=" typography-line" style="text-align: center;">

                        <code style="margin-right:30px;">&nbsp;ROHIT GOUD</code>&nbsp;
                        <code style="margin-right:30px;margin-left:30px;">DEEPAK SAI</code>&nbsp;
                        <code style="margin-right:30px;margin-left:30px;">VIGNESH </code>&nbsp;
                        <code style="margin-right:30px;margin-left:30px;">SHASHI</code>&nbsp;
                        <code style="margin-right:30px;margin-left:30px;">MOUNIKA</code>&nbsp;
                        <code style="margin-right:30px;margin-left:30px;">ANSHIKA</code>&nbsp;
                        <code style="margin-left:30px; ">SUCHARITHA</code>&nbsp;
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>