<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">

                    <!-- <div class=" content"> -->
                    <h1>Trade Center</h1>
                    <div class=" row" style="background-image: url('assets/img/stock3.svg');
                    background-position: right 10px center ;
                    background-repeat:no-repeat;
                    background-size: 150px 150px;">
                        <div class=" col-md-10">
                            <div class=" card">
                                <div class=" card-header">
                                    <h5 class=" title">Place your order</h5>
                                </div>
                                <div class=" card-body">
                                    <form #f="ngForm" (ngSubmit)="onSubmit()" class="form-group" (keydown.enter)="$event.preventDefault()">
                                        <div class=" row">
                                            <div class=" col-md-5 pr-md-1">
                                                <div class=" form-group">
                                                    <label> Client ID</label>
                                                    <select [(ngModel)]="Insclient" name="client_id" #client_id="ngModel" class="form-control" #s (change)="getClientName(s.value)" style="background-color: #2b3553;color:white">
                                                        <option selected disabled>Select Client ID</option>
                                                        <option *ngFor="let item of clients" value="{{item.client_id}}">{{item.client_id}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class=" col-md-6 px-md-1">
                                                <div class=" col-md-12 pr-md-1 ">
                                                    <div class=" form-group ">
                                                        <label> Client Name </label>
                                                        <input style="color: rgb(233, 231, 101); " class=" form-control " value="{{client_name}}" disabled=" " placeholder="Client " type="text " />
                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                        <div class=" row ">
                                            <div class=" col-md-5 pr-md-1">
                                                <div class=" form-group ">
                                                    <label> Instrument ID </label>
                                                    <select [(ngModel)]="Institle" name="instrument_id" #instrument_id="ngModel" class="form-control " #i (change)="getInstrumentName(i.value)" style="background-color: #2b3553; color:white">
                                              <option disabled selected>Select Instrument ID</option>
                                              <option *ngFor="let item of instruments" value="{{item.instrument_id}}">{{item.instrument_id}}</option>
                                            </select>
                                                </div>
                                            </div>
                                            <div class=" col-md-6 px-md-1">
                                                <div class=" col-md-8 pr-md-1 ">
                                                    <div class=" form-group ">
                                                        <label> Instrument Name </label>
                                                        <input style="color: rgb(233, 231, 101); " class=" form-control " value="{{instrument_name}}" disabled=" " placeholder="Instrument  " type="text " />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class=" row ">


                                            <div class=" col-md-3 ">

                                                <div class=" form-group ">
                                                    <label> Face Value </label>
                                                    <input style="color: rgb(233, 231, 101); " disabled="" class=" form-control " type="number " value="{{ins_face!=0?ins_face:'N/A'}}" [placeholder]="checkface? 'Face value':'Not Applicable'" />
                                                </div>
                                            </div>
                                            <div class=" col-md-6 px-md-1">
                                                <div class=" col-md-8 pr-md-1 ">
                                                    <div style="overflow: hidden;">
                                                        <label>Expiry date</label>
                                                        <label *ngIf="checkdate">&nbsp;(Not Applicable)</label>
                                                        <input *ngIf="!checkdate; else gold" style="color: rgb(233, 231, 101); " disabled="" type="date" class="form-control" value="{{ins_date}}">
                                                        <ng-template #gold><input disabled="" type="date" class="form-control" value="{{ins_date}}"></ng-template>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class=" row ">
                                            <div class=" col-md-2 pr-md-1 ">
                                                <div class=" form-group ">
                                                    <label> Price </label>
                                                    <input [(ngModel)]="model.price" name="price" #price="ngModel" class=" form-control " placeholder="Price " type="number " />
                                                </div>
                                            </div>&nbsp;&nbsp;&nbsp;
                                            <div class=" col-md-2 px-md-1 " style="margin-left: 50px;">
                                                <div class=" form-group ">
                                                    <label> Quantity </label>
                                                    <input [(ngModel)]="model.quantity" name="quantity" #quantity="ngModel" class=" form-control " placeholder="Quantity " type="number " />
                                                </div>
                                            </div>
                                            <div class=" col-md-4 pl-md-1 " style="margin-left: 80px;">
                                                <div class=" form-group ">
                                                    <label>  Direction </label>
                                                    <select class="form-control" style="background-color: #2b3553;color:white " id="direction" #o (change)="setButton(o.value)">
                                                      <option disabled selected>Choose</option>
                                                      <option value="Buy">Buy</option>
                                                      <option value="Sell">Sell</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" card-footer ">
                                            <input type="submit" class=" btn btn-fill btn-danger " value="{{buttonName}}">
                                        </div>
                                    </form>


                                    <!-- </div> -->



                                </div>
                            </div>

                        </div>
                    </div>
                </div>